.pants-section{
    max-width: 991px;
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.img-div{
    /* max-width: 250px; */
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.img-div img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.main-div{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 35px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:991px) {
    .main-div{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .pants-section{
        max-width: 768px;
    }
}

@media screen and (max-width:768px) {
    .main-div{
        gap: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .pants-section{
        max-width: 520px;
    }
} 

@media screen and (max-width:430px) {
    .img-div img{
        height: 230px;
    }
}